{% extends 'Navbar.html' %}
{% block content%}
<!-- <div class="container text-center">
    <div class="container text-center">
        <div class="row">
            

          <div class="col">
    <h1>Reservation</h1>
          </div>
          <div class="col-6">
           <h2>{{movie_model.movie_title}}</h2> 
          </div>
          <div class="col">
            3 of 3
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h2>Select Showtime</h2>
            <select id="showtimeSelect">
                <option value="" disabled selected>Select Showtime</option>
        {%for showtime in showtimes%}
        
        <option value={{showtime.id}}>{{start_time}}-{{showtime.end_time}}-{{showtime.price}}</option>
        <button id="reserveButton">Reserve</button>
         
        {%endfor%} -->

<!--       
            </select>          </div> -->

<div class="seats">

    <p>A1</p>
</div>
<!-- <div class="container"> -->




{% endblock %}